.dashboard {
  display: flex;
  margin: 9px;
  cursor: pointer;
}
.sidebar {
  flex: 1;
  background-color: rgb(8, 9, 34);
  color: rgb(128, 132, 136);
  border-right: 0.5px solid lightblue;
  min-height: 100%;
  list-style: none;
  font-size: 14px;
  font-weight: bold;
  .center {
    ul {
      padding-left: 0;

      li {
        list-style: none;
        display: flex;
        align-items: center;
        margin: 14px;
        padding: 3px;
        cursor: pointer;
        :hover {
          background-color: rgb(105, 152, 194);
        }
      }
    }
  }
  .title {
    font-size: 10px;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 5px;
  }
  .bottum {
    ul {
      padding-left: 0;
    }

    li {
      list-style: none;
      display: flex;
      align-items: center;
      margin: 14px;
      padding: 3px;
      cursor: pointer;
      :hover {
        background-color: rgb(105, 152, 194);
      }
      .title {
        // font-size: 10px;
        font-weight: bold;
        margin-top: 15px;
        margin-bottom: 5px;
      }
    }
  }
}
.drop {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-left: 7px;
  .hot {
    color: rgba(255, 0, 0, 0.39);
    background-color: rgba(245, 1, 1, 0.151);
    // border: 1px solid red;
    border-radius: 10px;
    font-size: 11px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
  }
}
.opnenav {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 9px;
}
// .openbtn {
//     font-size: 20px;
//     cursor: pointer;
//     background-color: #111;
//     color: white;
//     padding: 10px 15px;
//     border: none;
//   }

////////////////////////////////////////////////////////////////////////////////////////////////////////
/// \
///

@media screen and (max-width: 900px) {
    .sidebar{
        // flex: 0;
        display: none;
    }
}
