.summery {
  display: flex;
  .l1 {
    width: 29%;
    box-shadow: 8px 9px 11px -3px rgba(0, 0, 0, 0.47);
    -webkit-box-shadow: 2px 4px 10px 1px rgba(0, 0, 0, 0.47);
    height: 255px;
    // border: 2px solid black;
    border-radius: 25px;
    margin: 21px;
  }
  .user1 {
    font-size: 15px;
    font-weight: bold;
  }
  .head {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 10px;
    margin-left: 10px;
    margin-right: 10px;
  }
  .montset {
    display: flex;
    flex-direction: column;
    margin: 8px;
  }
  .month2 {
    display: flex;
  }
  .color {
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    font-size: 11px;
    color: rgb(120, 122, 125);
    font-weight: bold;
  }
  .blue {
    height: 9px;
    width: 9px;
    background-color: #0a58ca;
    color: fill;
    color: #0a58ca;
    border: 5px solid #0a58ca;
    border-radius: 50%;
    margin-bottom: 3px;
  }
  .green {
    height: 9px;
    width: 9px;
    color: fill;
    color: #0a58ca;
    border: 5px solid #d95d3b;
    border-radius: 50%;
    margin-bottom: 3px;
  }
  .monthset1 {
    font-size: 11px;
    color: rgb(120, 122, 125);
    font-weight: bold;
  }
  .numset {
    font-weight: 800;
  }
  .current {
    margin-right: 6px;
  }
  .progbar {
    height: 200px;
  }

  ///////////////////////////////////////////////////

  .products {
    display: flex;
    .brand {
      display: flex;
      flex-direction: column;
    }
  }
  .brandsales {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .week {
    font-weight: 800;
    font-size: 12px;
    // margin-top: 5px;
  }
  .s {
    border: 8px solid rgb(55, 65, 255);
    border-radius: 25%;
    margin: 14px;
    margin-top: 12px;
    background-color: rgb(55, 65, 255);
    font-size: 14px;
    color: white;
  }
  .brandname {
    font-size: 11px;
    color: rgb(120, 122, 125);
    font-weight: bold;

    margin-top: 8px;
  }
  .price {
    font-weight: 800;
    font-size: 12px;
    margin-top: 5px;
  }
  .sales {
    display: flex;
    align-items: center;
    .salesnum {
      background-color: rgba(194, 194, 186, 0.452);
      border: 1px solid rgba(194, 194, 186, 0.452);
      border-radius: 25%;
      font-weight: 800;
      font-size: 12px;
      margin-right: 10px;
    }
  }
}
